/**
 * 1. Corrige la hauteur des lignes.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Supprime la marge de la page.
 */

body {
  margin: 0;
}

/**
 * Corrige la taille et la marge des titres h1.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * 1. Compatibilité pour firefox
 * 2. Edge et IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Corrige la mise à l'échelle et la taille de la police dans tous les navigateurs.
 * 2. Normalise la taille des carractères pour tous les navigateurs.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Rend le background transparent sur les liens IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Supprime la bordure inférieure sur Chrome.
 * 2. Pour la compatibilité avec Chrome, Edge, IE, Opera et Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Pour la bonne gestion du texte en gras sur Chrome, Edge et Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Corrige la mise à l'échelle et la taille de la police dans tous les navigateurs.
 * 2. Normalise la taille des carractères pour tous les navigateurs.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Pour afficher la bonne taille de font pour tous les navigateurs.
 */

small {
  font-size: 80%;
}

/**
 * Empêcher les éléments «sub» et «sup» d'affecter la hauteur de ligne dans
 * tous les navigateurs.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Supprime les bordure d'image dans IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Changes les styles de font de tous les navigateurs.
 * 2. Supprime la marge dans safari et firefox.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * définit comment gérer le dépassement du contenu d'un élément dans son bloc.
 * 1. Voir le contenu de l'overflow dans Edge.
 */

button,
input { 
  overflow: visible; /* 1 */
}

/**
 * Supprimez la transformation du texte dans Edge, Firefox et IE.
 */

button,
select { 
  text-transform: none;
}

/**
 * Corrigez les types cliquables "input" dans iOS et Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Supprimer la bordure intérieure dans Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restaurer les styles de focus non définis.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Corrige le padding (remplissage intérieur) dans Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Corrige l'habillage du texte dans Edge et IE.
 * 2. Corrige l'héritage des couleurs des éléments `fieldset` dans IE.
 * 3. Supprime le padding des éléments `fieldset` dans tous les navigateurs.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Corrige l'alignement vertical dans Chrome, Firefox et Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Supprime la barre de défilement horizontale par défaut dans IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Ajuste le dimensionnement de l'input dans IE 10.
 * 2. supprime le padding dans IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Corrigez le style des curseurs d'incrémentation et de décrémentation dans Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Corrigez l'apparence dans Chrome et Safari.
 * 2. Corrigez le style de contour dans Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Supprime le padding dans Chrome et Safari.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Corrigez le style des inputs de type "button" dans iOS et Safari.
 * 2. Modifiez les propriétés de la police dans Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


/*
 * Corrige l'affichage dans Edge, IE 10+ et Firefox.
 */

details {
  display: block;
}

/*
 * Standardiser l'affichage dans tous les navigateurs.
 */

summary {
  display: list-item;
}


/**
 * Ajuster l'affichage dans IE 10+.
 */

template {
  display: none;
}

/**
 * Ajuster l'affichage dans IE 10.
 */

[hidden] {
  display: none;
}
